<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="x7Zip" version="1.0.8" />
  <package id="xAzurePack" version="1.4.0" />
  <package id="xCertificate" version="2.5.0" />
  <package id="xChrome" version="1.1.0" />
  <package id="xDatabase" version="1.6.0" />
  <package id="xDismFeature" version="1.2.0" />
  <package id="xDscDiagnostics" version="2.6.0" />
  <package id="xDSCResourceDesigner" version="1.9.0" />
  <package id="xFirefox" version="1.2.0" />
  <package id="xInternetExplorerHomePage" version="1.0.0" />
  <package id="xNetworking" version="3.2.0" />
  <package id="xPendingReboot" version="0.3.0" />
  <package id="xPowerShellExecutionPolicy" version="1.1.0" />
  <package id="xPSDesiredStateConfiguration" version="6.4.0" />
  <package id="xRobocopy" version="2.0.0" />
  <package id="xSmbShare" version="2.0.0" />
  <package id="xSqlPs" version="1.4.0" />
  <package id="xSqlServer" version="7.0.0" />
  <package id="xSystemSecurity" version="1.2.0" />
  <package id="xTimeZone" version="1.6.0" />
  <package id="xWebAdministration" version="1.17.0" />
  <package id="xWebDeploy" version="1.2.0" />
  <package id="xWinEventLog" version="1.1.0" />
</packages>